.grid-container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "navbar" "main" "sidebar" "footer";
}

.grid-container > * {
  text-align: center;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .grid-container {
    width: 100%;
    grid-template-areas: "navbar" "main" "footer";
  }
  .sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "navbar navbar navbar navbar"
      "main main main sidebar"
      "footer footer footer footer";
  }
}
