.news {
  display: grid;
  grid-template-columns: 100vh;
  grid-template-columns: 100vw;
  grid-template-columns: auto auto auto;
  margin-left: 5%;
  margin-right: 5%;
}

.news .news__layout {
  display: inline-block;
  text-align: left;
}

@media (max-width: 1200px) {
  .news {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .news {
    grid-template-columns: auto;
    margin-left: 5%;
    margin-right: 5%;
    .news__layout {
      text-align: center;
    }
  }
  .news__image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
